body {
    font-family: 'Dancing Script', cursive;
    font-size: 17px;
}

.menu {
    line-height: 72px;
    margin-top: -99px;
}

.m-left {
    float: left;
}

.m-right {
    float: right;
}

.icone-loupe {
    background: url(../images/icons.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 26px;
    height: 29px;
    border: 0px dotted;
    position: relative;
    left: 212px;
    top: -26px;
}

.recherche {
    position: relative;
    left: 183px;
    top: -34px;
    height: 22px;
    width: 279px;
}

.vitrine {
    height: 538px;
    width: 368px;
    margin-top: 129px;
    margin-left: 82px;
    background: #e4e4e4;
    border-radius: 10px;
    border: solid;
}

.vitrine p {
    color: black;
}

.vitrine0 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.vitrine img {
    margin-left: 83px;
    margin-top: 25px;
    height: 307px;
    width: 222px;
    border-radius: 11px;
}

.text {
    margin-left: 22px;
    margin-top: -11px;
}

.vitrine05 {
    background: #e7e7e7;
    height: -11px;
    width: 203px;
    margin-top: 114px;
    flex: 4 0 auto;
    margin: 13px -3px 3px 212px;
}

.bouton20 {
    background-color: white;
    position: relative;
    top: 485px;
    left: 223px;
    padding: 4px;
    font-family: 'Dancing Script', cursive;
}

.imge {
    height: -11px;
    width: 383px;
    margin-top: 105px;
    border-radius: 10px;
    margin-top: 91px;
    margin-left: 200px;
}

.texte {
    font-size: 26px;
    margin-top: -53px;
    margin-left: 57px;
    font-family: system-ui;
}

.texte2 {
    margin-top: 104px;
    margin-left: 4px;
    font-size: 24px;
    font-family: auto;
}

.contour {
    height: 344px;
    width: 689px;
    margin-top: 138px;
    margin-left: 258px;
    border-radius: 0px;
    margin-bottom: 53px;
    border: 1px solid #0080ff;
}

.contour1 {
    height: auto;
    width: auto;
    position: relative;
    top: 21px;
    margin-left: 0px;
    border-radius: 7px;
    margin-bottom: 53px;
    border: 1px solid #0080ff;
}

.contour2 {
    height: 603px;
    width: 686px;
    position: relative;
    top: -536px;
    left: 749px;
    border-radius: 8px;
    margin-bottom: 53px;
    border: 1px solid #0080ff;
}

.texte02 {
    margin-top: 132px;
    margin-left: 4px;
    font-size: 24px;
    font-family: auto;
}

.text03 {
    position: relative;
    top: 157px;
    left: 77px;
    font-size: 19px;
}

@media screen and (max-width: 600px) {
    .recherche {
        opacity: 0;
    }
}

.panier {
    background: url(../images/panier.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 26px;
    height: 29px;
    border: 0px dotted;
    position: relative;
    left: 1106px;
    top: -24px;
}