body {
    font-family: 'Dancing Script', cursive;
    font-size: 17px;
}

.menu {
    line-height: 72px;
    margin-top: -113px;
}

.m-left {
    float: left;
}

.m-right {
    float: right;
}

.icone-loupe {
    background: url(../images/icons.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 31px;
    border: 0px dotted;
    position: relative;
    left: 102px;
    top: 37px;
}

.recherche {
    position: relative;
    left: 103px;
    top: 27px;
    height: 22px;
    width: 154px;
}

.vitrine {
    height: 553px;
    width: 358px;
    margin-top: 174px;
    margin-left: 17px;
    background: #e4e4e4;
    border-radius: 10px;
    border: solid;
}

.vitrine p {
    color: black;
}

.vitrine0 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.vitrine img {
    margin-left: 83px;
    margin-top: 25px;
    height: 307px;
    width: 222px;
    border-radius: 11px;
}

.text {
    margin-left: 22px;
    margin-top: -11px;
}

.vitrine05 {
    height: -11px;
    width: 239px;
    margin-top: 119px;
    flex: 4 0 auto;
    margin: -2px -3px 1px 220px;
    padding: 38px;
}

.bouton20 {
    background-color: white;
    position: relative;
    top: 29px;
    left: 667px;
    padding: 4px;
    font-family: 'Dancing Script', cursive;
}

.imge {
    height: -11px;
    width: 383px;
    margin-top: 105px;
    border-radius: 10px;
    margin-top: 91px;
    margin-left: 200px;
}

.texte {
    font-size: 26px;
    margin-top: 5px;
    margin-left: 63px;
    font-family: system-ui;
}

.texte2 {
    margin-top: 132px;
    margin-left: 4px;
    font-size: 24px;
    font-family: auto;
}

.contour {
    height: 344px;
    width: 689px;
    margin-left: 21px;
    position: relative;
    top: 135px;
    border-radius: 0px;
    margin-bottom: 53px;
    border: 1px solid #bdc8d2db;
}

.contour1 {
    height: auto;
    width: 658px;
    position: relative;
    top: 499px;
    margin-left: -674px;
    margin-bottom: 53px
}

.contour2 {
    height: 603px;
    width: 686px;
    position: relative;
    top: 145px;
    left: 54px;
    margin-bottom: 53px;
    border: 1px solid #bdc8d2db;
}

.texte02 {
    margin-top: 132px;
    margin-left: 4px;
    font-size: 24px;
    font-family: auto;
}

.text03 {
    font-size: 31px;
    margin-top: 99px;
    margin-left: 7px;
    font-family: system-ui;
    position: relative;
    top: 16px;
}

@media screen and (max-width: 600px) {
    .recherche {
        opacity: 0;
    }
}

.panier {
    background: url(../images/panier.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 26px;
    height: 29px;
    border: 0px dotted;
    position: relative;
    left: 1279px;
    top: -35px;
}

.menu10 {
    margin-left: 10px;
}

.bouton30 {
    background-color: white;
    position: relative;
    top: 480px;
    left: 247px;
    padding: 4px;
    font-family: 'Dancing Script', cursive;
}

.vitrine06 {
    margin-left: 83px;
    margin-top: 25px;
    height: 307px;
    width: 219px;
    border-radius: 11px;
    padding: 3px;
}

.bouton40 {
    background-color: white;
    position: relative;
    top: 674px;
    left: -586px;
    height: 55px;
    background: #0080ff;
    border-radius: 9px;
    border: 1px solid #ffffff;
    color: white;
    padding: 10px;
}