body {
    font-family: 'Dancing Script', cursive;
    font-size: 17px;
}

.menu {
    width: 100%;
    height: 40px;
    line-height: 166px;
}

.m-left {
    float: left;
}

.m-right {
    float: right;
}

.icone-loupe {
    background: url(../images/icons.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 26px;
    height: 29px;
    border: 0px dotted;
    position: relative;
    left: -22px;
    top: -3px;
}

.recherche {
    position: relative;
    left: -21px;
    top: -13px;
}

.vitrine {
    height: 538px;
    width: 368px;
    margin-top: 129px;
    margin-left: 229px;
    background: #e4e4e4;
    border-radius: 10px;
    border: solid;
}

.vitrine p {
    color: black;
}

.vitrine0 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.vitrine img {
    margin-left: 83px;
    margin-top: 25px;
    height: 307px;
    width: 222px;
    border-radius: 11px;
}

.text {
    margin-left: 22px;
    margin-top: -11px;
}

.vitrine05 {
    background: #e7e7e7;
    height: -11px;
    width: 383px;
    margin-top: 105px;
}

.bouton20 {
    background-color: white;
    position: relative;
    top: 485px;
    left: 223px;
    padding: 4px;
    font-family: 'Dancing Script', cursive;
}

.imge {
    height: -11px;
    width: 383px;
    margin-top: 105px;
    border-radius: 10px;
    margin-top: 91px;
    margin-left: 200px;
}

.texte {
    font-size: 37px;
    position: relative;
    top: -753px;
    left: 160px;
}

.texte2 {
    font-size: 37px;
    position: relative;
    top: -753px;
    left: 444px;
}