.woze20 {
    width: 9%;
    margin-left: 185px;
    margin-top: -40px;
    position: relative;
    top: 110px;
    left: -187px;
}

@media screen and (max-width: 600px) {
    .woze20 {
        opacity: 0;
    }
}