@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');

html, body {
    margin: 0; padding : 0;
    font-family: 'Lato';
}


img.woze20 {
	width: 150px;
	height: 150px;
}

nav.l-menu ul {
    list-style-type: none;
    margin : 0;
    padding : 0;
}

nav.l-menu ul li {
    margin : 0;
    padding : 0;
    float = right;
    width: 200px;
    height: 40px;
    color: #6495ED ;
    background-color: white;
    display: inline-block;
    line-height: 40px;
    text-align : center;
}

nav.l-menu ul li ul li  {
    display : none;
}

nav.l-menu ul li:hover ul li {
    display: block;
    color :  white;
    background-color :#6495ED; 
}

nav.l-menu a {
    text-decoration: none; 
}


nav.connecter a {
    color : rgb(18, 163, 18) ;
    background-color : white ;
    display : block
}

nav.connecter a:hover {
    color : white;
    background-color :rgb(18, 163, 18) ;
    display: block;
    
    
}
